body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.instagram-logo {
    position: relative;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #fdc468, #df4996, #3f5efb);
    border-radius: 20%;
}

.outer-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 50%;
    height: 50%;
    background: linear-gradient(45deg, #fdc468, #df4996, #3f5efb);
    border-radius: 50%;
}

.small-circle {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 15%;
    height: 15%;
    background: white;
    border-radius: 50%;
}
